/* main variables and definitions */

/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=auto');*/
/*
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
 */

@import "./navbar.css";
@import "./utilities.css";
@import "devContainer.css";
@import "./headshot.css";
@import "./downArrow.css";
@import "./tagline.css";
@import "./projects.css";
/*@import "./chromaGallery.css";*/
@import "./hero.css";
@import "./portfolio.css";


:root {
    --black: #000000;
    --white: #EAEAEA;
    /*--dark: #9E9E9E;*/
    --light: #D9D9D9;
    --dark: #777777;
    --darker: #555555;
    --windowWidth: 100%;
    --windowHeight: 100%;
    --vh: 10px;
}

html {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    /*scroll-snap-type: y proximity;*/
    /*scroll-snap-stop: always;*/
    overflow-y: scroll;
}

body {
    overflow-x: clip;
}

/* the app container */
.app-container {
}


.show-on-load {

}


/* utility classes */
