/* Chroma Gallery Section */
.section-chroma-gallery {
    scroll-snap-align: start;
    position: relative;
    /*height: 100vh;*/
    height: calc(var(--vh) * 100); /* mobile fix for browser navbar shrink */
    color: black;
    background-color: var(--white);

    /*overflow: clip; !* in case of resizing causing Chrome to bug *!*/
}

@media only screen and (min-width: 800px) {
    .section-chroma-gallery {
        padding-left: 100px; /* get me past the left nav if exists */
    }
}

img.chroma-gallery-pic {
    border: 1px solid red;

    position: absolute;
    width: clamp(100px, min(100vh - 100px, 35vw), 700px);
    /*transform: translate(calc((50vw - 50px)), calc(80px + (100vh - 80px - 100%) / 2));*/
}

.pic-container {
    width: fit-content;
}

.chroma-gallery-container {
    border: 1px solid blue;

    position: absolute;
    padding: 0 3vw;
    width: clamp(200px, 35vw, 550px);
    transform: translate(calc((50vw - 50px) - 100%), calc(80px + (100vh - 80px - 100%) / 2));
}

/* tablet mode, no padding left */
@media only screen and (min-width: 500px) and (max-width: 799px) {
    img.chroma-gallery-pic {
        border: 1px solid red;

        position: absolute;
        width: clamp(100px, min(100vh - 100px, 40vw), 700px);
        /*transform: translate(calc((50vw)), calc(80px + (100vh - 80px - 100%) / 2));*/
    }

    .chroma-gallery-container {
        border: 1px solid blue;
        width: clamp(200px, 40vw, 550px);
        transform: translate(calc(50vw - 100%), calc(80px + (100vh - 80px - 100%) / 2));
    }
}

/* left / right to up / down breakpoint - TRUE Mobile */
@media only screen and (max-width: 499px) {
    img.chroma-gallery-pic {
        position: absolute;
        /*width: clamp(100px, min((100vh - 100px) / 2 - 100%, 90vw), 700px);*/
        width: calc((100vh - 100px) / 2 * 0.7);
        /*transform: translate(calc((50vw - 50%)), calc((100vh - 100px) / 2 - 100% - 1vh));*/
    }

    .chroma-gallery-container {
        position: absolute;
        padding: 0 3vw;
        width: min(90vw, 550px);
        transform: translate(calc((50vw - 50%)), calc((100vh - 100px) / 2 + 2vh));
    }
}

.chrome-gallery-title-container {
    /* this contains the underline */
    width: fit-content;
}

.chroma-gallery-title {
    position: relative;
    font: clamp(16px, min(5vw, 8vh), 96px) 'Bebas Neue', cursive;
    color: var(--black);
}

/* the chroma underline */
.chroma-gallery-title::after {
    content: "";
    position: absolute;
    top: calc(100% - clamp(16px, min(5vw, 8vh), 96px) * 0.17);
    width: 100%;
    left: 0;
    height: 1px;
    border-radius: 2px;
    background: linear-gradient(to right, #FF0000, #FFFF00, #FFFF00, #00FFFF, #3300FF, #FF00FF);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.chroma-gallery-subheading {
    font: clamp(14px, min(3vw, 5vh), 40px) 'Bebas Neue', cursive;
}

.chroma-gallery-paragraph {
    margin: clamp(5px, min(2vw, 2vh), 40px) 0 clamp(5px, min(2vw, 2vh), 40px) 0;
    /*font: 500 28px 'Montserrat', sans-serif;*/
    font: 500 clamp(12px, min(2vw, 3vh), 28px) 'Montserrat', sans-serif;
    letter-spacing: -0.035em;
    color: var(--darker);
}


.chroma-gallery-container li {
    font: 500 clamp(12px, min(2vw, 3vh), 28px) 'Montserrat', sans-serif;
    color: var(--darker);
    padding-left: 1em;
    /*list-style: disc;*/
}

.chroma-gallery-container li::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--black); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.chroma-gallery-footer {
    margin-top: clamp(5px, min(2vw, 3vh), 40px);
    font-size: clamp(12px, 1vw, 24px);
}

.chroma-gallery-footer a {
    font-size: clamp(12px, 1.5vw, 24px);
    color: var(--black);
}

@media only screen and (max-width: 799px) {
    .chroma-gallery-title {
        font: clamp(16px, min(8vw, 8vh), 96px) 'Bebas Neue', cursive;
    }

    .chroma-gallery-subheading {
        font: clamp(14px, min(5vw, 5vh), 40px) 'Bebas Neue', cursive;
    }

    .chroma-gallery-paragraph {
        margin: clamp(5px, min(4vw, 2vh), 40px) 0 clamp(5px, min(2vw, 2vh), 40px) 0;
        font: 500 clamp(12px, min(4vw, 3vh), 28px) 'Montserrat', sans-serif;
    }

    .chroma-gallery-container li {
        font: 500 clamp(12px, min(4vw, 3vh), 28px) 'Montserrat', sans-serif;
    }

    .chroma-gallery-footer {
        margin-top: clamp(5px, min(4vw, 2vh), 40px);
        font-size: clamp(12px, 2vw, 24px);
    }

    .chroma-gallery-footer a {
        font-size: clamp(12px, 2vw, 24px);
        color: var(--black);
    }
}