/* Styles for the Dev Name and Dev Title, and its container */
.dev-container {
    position: absolute;
    width: 100%;
    height: 144px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.dev-frame {
    width: max-content;

}

.dev-name {
    font: 114px 'Bebas Neue', cursive;
    line-height: 89%;
    color: var(--white);
}

.dev-title {
    font: 39px 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: right;
    line-height: 100%;
    letter-spacing: -0.035em;
    color: var(--dark);
}
