/* projects */

.section-projects {
    /*height: 100vh;*/
    height: calc(var(--vh) * 100); /* mobile fix for browser navbar shrink */
    width: 100%;
    scroll-snap-align: start;
}

.projects-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.projects-header {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-family: 'Bebas Neue', cursive;
    font-size: clamp(36px, min(20vh, 20vw), 128px);
    line-height: 89%;
    text-align: center;
    color: var(--black);
}

@media only screen and (max-width: 799px) {
    .projects-header {

    }
}

