/* projects */

.section-projects {
    /*scroll-snap-align: start;*/
    width: 100%;
    background-color: var(--white);

    --imgOffsetPercent: 0.09;
    --picWidth: clamp(100px, min(100vh - 100px, 35vw), 700px);
}

/*.projects-container {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: calc(var(--vh) * 100); !* mobile fix for browser navbar shrink *!*/
/*}*/

.projects-header {
    font-family: 'Bebas Neue', cursive;
    font-size: clamp(36px, min(20vh, 20vw), 128px);
    line-height: 89%;
    text-align: center;
    color: var(--black);
}

@media only screen and (max-width: 799px) {
    .projects-header {

    }
}

.section-chroma-gallery {
    /*scroll-snap-align: start;*/
    width: 100%;
    background-color: var(--white);
}

.pic-container {
    width: fit-content;
    margin: 50vh auto 0 auto;
    transform: translate(calc(-100% * var(--imgOffsetPercent)), 0);
}

img.chroma-gallery-pic {
    /*width: clamp(100px, min(100vh - 100px, 35vw), 700px);*/
    width: clamp(100px, min(100vh - 100px, 35vw), 550px);
    transform-origin: bottom center;
    filter: drop-shadow(0px 0px 5px var(--white));
}

.chrome-gallery-title-container {
    /* this contains the underline */
    /*width: fit-content;*/
    width: 515px;
    /*margin: 5vh calc(50vh - var(--picWidth) / 2 - var(--picWidth) * var(--imgOffsetPercent)) 0 auto;*/
    margin-top: 2vh;
    /*margin-left: calc(50vh - (50vh - 471px));*/
    margin-left: calc(50vw - 490px);
    /*margin-left: calc(50vw - var(--picWidth) / 2 - var(--picWidth) * var(--imgOffsetPercent));*/
    /*margin-right: auto;*/
}

.chroma-gallery-title {
    position: relative;
    font: clamp(36px, min(20vh, 20vw), 64px) 'Bebas Neue', cursive;
    color: var(--black);
}

/* the chroma underline */
.chroma-gallery-title::after {
    content: "";
    position: absolute;
    top: calc(100% - clamp(16px, min(5vw, 8vh), 96px) * 0.17);
    width: 100%;
    left: 0;
    height: 1px;
    border-radius: 2px;
    background: linear-gradient(to right, #FF0000, #FFFF00, #FFFF00, #00FFFF, #3300FF, #FF00FF);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.chroma-gallery-paragraph-container {
    margin: 5vh auto 0 calc(50vw - var(--picWidth) / 2 - var(--picWidth) * var(--imgOffsetPercent));
    /*width: calc(var(--picWidth) * var(--imgOffsetPercent) * 2 + var(--picWidth));*/
    width: calc(var(--picWidth) * var(--imgOffsetPercent) + var(--picWidth) / 2);
}

.chroma-gallery-paragraph {
    /*margin: clamp(5px, min(2vw, 2vh), 40px) 0 clamp(5px, min(2vw, 2vh), 40px) 0;*/
    margin-top: 2vh;
    font: 600 clamp(12px, min(2vw, 3vh), 21px) 'Montserrat', sans-serif;
    letter-spacing: -0.035em;
    color: var(--dark);
}

.chroma-gallery-screenshot-container {

}

.chroma-gallery-screenshot {
    width: var(--picWidth);
    height: 60vh;
    object-fit: cover;
    object-position: left top;
}

.chroma-gallery-screenshot-container {
    margin-left: calc(50vw - 490px);
}