/* tagline box */
.tagline-container {
    position: absolute;
    width: 445px;
    height: fit-content;
    left: 50%;
    transform: translate(-50%, -50%);
    /*margin: auto;*/
}

p.tagline {
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: -0.05em;
    text-align: left;
    color: var(--white);
    z-index: -1;
}

.section-revealTagline {
    scroll-snap-align: start;
}

.section-zoomTagline {
    scroll-snap-align: start;
    box-sizing: border-box;
    height: 500px;
}

